In [1]:
import pandas as pd
path_to_data = "/data/data_2019_2022"
df1 = pd.read_csv(path_to_data + "/1002-zeya-malayasazanka.csv", delimiter=';')
df2 = pd.read_csv(path_to_data + "/1003-zeya-svobodny.csv", delimiter=';')
df3 = pd.read_csv(path_to_data + "/2366-zeya-blagoveshensk.csv", delimiter=';')
df4 = pd.read_csv(path_to_data + "/316-zeya-mazanovo.csv", delimiter=';')
df5 = pd.read_csv(path_to_data + "/belogorye.csv", delimiter=';')

In [2]:
import numpy as np

In [3]:
df1.index = pd.DatetimeIndex(df1['Timestamp'])
df2.index = pd.DatetimeIndex(df2['Timestamp'])
df3.index = pd.DatetimeIndex(df3['Timestamp'])
df4.index = pd.DatetimeIndex(df4['Timestamp'])
df5.index = pd.DatetimeIndex(df5['Timestamp'])

In [4]:
dt = pd.date_range('2001-01-11', '2022-01-25')
dt

DatetimeIndex(['2001-01-11', '2001-01-12', '2001-01-13', '2001-01-14',
               '2001-01-15', '2001-01-16', '2001-01-17', '2001-01-18',
               '2001-01-19', '2001-01-20',
               ...
               '2022-01-16', '2022-01-17', '2022-01-18', '2022-01-19',
               '2022-01-20', '2022-01-21', '2022-01-22', '2022-01-23',
               '2022-01-24', '2022-01-25'],
              dtype='datetime64[ns]', length=7685, freq='D')

In [5]:
df11 = df1.reindex(dt, fill_value=np.nan)
df21 = df2.reindex(dt, fill_value=np.nan)
df31 = df3.reindex(dt, fill_value=np.nan)
df41 = df4.reindex(dt, fill_value=np.nan)
df51 = df5.reindex(dt, fill_value=np.nan)

In [6]:
df_common = pd.concat([df11['Timestamp'], df11['Value'], df21['Value'], df31['Value'], df41['Value'], df51['Value']], axis=1, keys=('Timestamp', 'Value-1002-zeya-malayasazanka', 'Value-1003-zeya-svobodny', 'Value-2366-zeya-blagoveshensk', 'Value-316-zeya-mazanovo', 'Value-317-zeya-belogorye'))

In [7]:
df_common

,Timestamp,Value-1002-zeya-malayasazanka,Value-1003-zeya-svobodny,Value-2366-zeya-blagoveshensk,Value-316-zeya-mazanovo,Value-317-zeya-belogorye
2001-01-11,2001-01-11,303.0,32.0,NaN,49.0,NaN
2001-01-12,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-13,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-14,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-15,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2022-01-21,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-22,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-23,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-24,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-25,NaN,NaN,206.0,NaN,287.0,NaN

In [8]:
raw_data = df_common[df_common.keys()[1:]].to_numpy()

In [10]:
year_starts = {}
year_starts[2002] = 355
year_starts[2003] = 355+365
year_starts[2004] = 355+365*2
year_starts[2005] = 355+365 * 2 + 366
year_starts[2006] = 355+365 * 3 + 366
year_starts[2007] = 355+365 * 4 + 366
year_starts[2008] = 355+365 * 5 + 366
year_starts[2009] = 355+365 * 5 + 366 * 2
year_starts[2010] = 355+365 * 6 + 366 * 2
year_starts[2011] = 355+365 * 7 + 366 * 2
year_starts[2012] = 355+365 * 8 + 366 * 2
year_starts[2013] = 355+365 * 8 + 366 * 3
year_starts[2014] = 355+365 * 9 + 366 * 3
year_starts[2015] = 355+365 * 10 + 366 * 3
year_starts[2016] = 355+365 * 11 + 366 * 3
year_starts[2017] = 355+365 * 11 + 366 * 4
year_starts[2018] = 355+365 * 12 + 366 * 4
year_starts[2019] = 355+365 * 13 + 366 * 4
year_starts[2020] = 355+365 * 14 + 366 * 4
year_starts[2021] = 355+365 * 14 + 366 * 5
year_starts[2022] = 355+365 * 15 + 366 * 5
year_starts[2023] = 7685

In [11]:
data2 = []
for year in range(2008, 2022):
    for day in range(31 + 28):
        data2.append([])
        for column_name in range(5):
            if np.isnan(raw_data[year_starts[year] + day][column_name]):
                sum_for_mean = 0
                count_for_mean = 0
                for year2 in range(2008, 2022):
                    if not np.isnan(raw_data[year_starts[year2] + day][column_name]):
                        sum_for_mean += raw_data[year_starts[year2] + day][column_name]
                        count_for_mean += 1
                if count_for_mean > 0:
                    data2[-1].append(np.round(sum_for_mean / count_for_mean))
                else:
                    data2[-1].append(np.nan)
            else:
                data2[-1].append(raw_data[year_starts[year] + day][column_name])
    if year %4 == 0:
        data2.append([])
        for column_name in range(5):
            if np.isnan(raw_data[year_starts[year] + 31 + 28][column_name]):
                sum_for_mean = 0
                count_for_mean = 0
                for year2 in range(2008, 2023, 4):
                    if not np.isnan(raw_data[year_starts[year2] + day][column_name]):
                        sum_for_mean += raw_data[year_starts[year2] + day][column_name]
                        count_for_mean += 1
                if count_for_mean > 0:
                    data2[-1].append(np.round(sum_for_mean / count_for_mean))
                else:
                    data2[-1].append(np.nan)
            else:
                data2[-1].append(raw_data[year_starts[year] + 31 + 28][column_name])
    for day in range((365 - 58 - 1), 0, -1):
        data2.append([])
        for column_name in range(5):
            if np.isnan(raw_data[year_starts[year + 1] - day][column_name]):
                sum_for_mean = 0
                count_for_mean = 0
                for year2 in range(2008, 2022):
                    if not np.isnan(raw_data[year_starts[year2 + 1] - day][column_name]):
                        sum_for_mean += raw_data[year_starts[year2 + 1] - day][column_name]
                        count_for_mean += 1
                if count_for_mean > 0:
                    data2[-1].append(np.round(sum_for_mean / count_for_mean))
                else:
                    data2[-1].append(np.nan)
            else:
                data2[-1].append(raw_data[year_starts[year + 1] - day][column_name])

In [12]:
data3 = np.array(data2)
data3

array([[435., 163., 148., 218., 341.],
       [441., 162., 151., 222., 350.],
       [447., 161., 157., 226., 361.],
       ...,
       [438., 171., 132., 232., 342.],
       [437., 170., 132., 230., 344.],
       [437., 236., 131., 344., 342.]])

In [13]:
df_new_better = pd.DataFrame(data3, columns=('Value-1002-zeya-malayasazanka', 'Value-1003-zeya-svobodny', 'Value-2366-zeya-blagoveshensk', 'Value-316-zeya-mazanovo', 'Value-317-zeya-belogorye'), index=pd.date_range('2008-01-01', '2021-12-31'))
df_new_better

,Value-1002-zeya-malayasazanka,Value-1003-zeya-svobodny,Value-2366-zeya-blagoveshensk,Value-316-zeya-mazanovo,Value-317-zeya-belogorye
2008-01-01,435.0,163.0,148.0,218.0,341.0
2008-01-02,441.0,162.0,151.0,222.0,350.0
2008-01-03,447.0,161.0,157.0,226.0,361.0
2008-01-04,447.0,154.0,163.0,230.0,367.0
2008-01-05,443.0,144.0,168.0,222.0,364.0
...,...,...,...,...,...
2021-12-27,434.0,167.0,134.0,235.0,343.0
2021-12-28,435.0,169.0,134.0,235.0,343.0
2021-12-29,438.0,171.0,132.0,232.0,342.0
2021-12-30,437.0,170.0,132.0,230.0,344.0
2021-12-31,437.0,236.0,131.0,344.0,342.0

In [14]:
df_new_better.to_csv(path_to_data+'/fixed_data.csv')